{% extends "../principal/principal.html" %}


{% block data %}
<h3><i class="fa fa-angle-right"></i> ERORR</h3>
<div class="row mt">
    <div class="col-md-12">
        <div class="content-panel">

            <hr>
            <div class="alert alert-danger"><b>A ocurrido un error!</b> Usted no tiene los permisos para ingresar a
                esta opción.</div>
            <!--  BUTTONS SIZES -->
            <div class="showback">

                
            </div>
        </div>
    </div>
</div>


{%endblock%}