{% extends "../../principal/principal.html" %}


{% block data %}

<h3><i class="fa fa-angle-right"></i> {{titulo}}</h3>
<div class="row mt">
    <div class="col-md-12">
        <div class="content-panel">

            <hr>


            <!--  BUTTONS SIZES -->
            <div class="showback">

                {%if valor == True%}
                <div class="alert alert-success"><b>{{mensaje}}</b> </div>
                {%else%}
                <div class="alert alert-danger"><b>{{mensaje}}!</b> </div>
                {%endif%}
                <script type="text/javascript">
                //datos enviados desde url
                    var valor = "{{monto}}"
                    var numeroCuenta1="{{numero1}}"
                    var cedulaCuenta1="{{cedula1}}"
                    function generarReporte(){
                            var url = '{% url "comprobante" %}'+'?numero1='+numeroCuenta1+'&&cedula1='+cedulaCuenta1+'&&valor='+valor
                            window.open(url, "")
                    }
                </script>

            </div>
            <!-- /showback -->
        </div>
        <!-- /content-panel -->
    </div>
</div>


{%endblock%}